<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Website</title>
	<!-- 不能写外链样式 -->
	<style>
		body {
			background: skyblue;
			color: #fff;
			padding: 30px;
		}
		h1 {
			font-size: 48px;
			letter-spacing: 2px;
			text-align:center;
		}
		p {
			font-size: 16px;
			text-align: center;
		}
	</style>
</head>
<body>
	<% include ../public/nav.ejs %>
	<h1>联系我们</h1>
	<p>112456872</p>
</body>
</html>